*{margin: auto; padding: 0%; box-sizing: border-box;}

.page{
    width: 800px;
    height: 300px;
    border: groove;
    text-align: center;

}
.page form{
    margin-top: 100px;
    
}
.page .btn{
    font-size: 22px;
    margin-top: 15px;
    background: rgb(171, 171, 245);
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
